.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.leftPanel {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    padding-left: 120px;
}

.rightWrapper {
    flex: 1;
    padding: 10px 10px 10px 0;
}

.rightPanel {
    height: 100%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    background: #3754db;
    padding: 24px;
    overflow: hidden;
    position: relative;
}

.rightPanel::before {
    content: '';
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 80px solid #fbbe37;
}

.rightPanel::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 60px 50px;
    transform: rotate(45deg) scale(2);
    z-index: 0;
}

.secondaryButton {
    border: 1.70px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 180px;
    height: 48px;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #3754db;
    cursor: pointer;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.rightCenter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

.leftPanelTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: right;
    color: #fff;
    max-width: 400px;
    margin: 0;
}