.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    border: 0.7px solid #a8abbd;
    border-radius: 12px;
    height: 50px;
    width: 350px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
    background: #fff;
    color: #4d5163;
}

.input:focus {
    border-color: #3754db;
}

.contentWrapper{
display: flex;
justify-content:flex-start;
align-items: center;
gap: 12px;
width: 350px;
}

.taskLabel{
font-weight: 400;
font-size: 16px;
color: #2c2e3a;
justify-content: start;
display: flex;
}

.PriorityLabel{
font-weight: 400;
font-size: 16px;
color: #2c2e3a;
}

.taskLabel,
.PriorityLabel,
.label {
    text-align: left;
}


.select{
    border: 0.7px solid #a8abbd;
    border-radius: 12px;
    width: 196px;
    height: 50px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
    background: #fff;
    color: #4d5163;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'><path d='M1 1L6 6L11 1' stroke='%234d5163' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
    text-align: left;
}

.label{
    font-weight: 400;
    font-size: 16px;
    color: #2c2e3a;
}

.inputDueDate{
    border: 0.7px solid #a8abbd;
    border-radius: 12px;
    width: 196px;
    height: 50px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
    background: #fff;
    color: #4d5163;
    color-scheme: light;
}

.inputDueDate:focus {
    border-color: #3754db;
}

.textarea {
    border: 0.70px solid #a8abbd;
    border-radius: 12px;
    padding: 16px;
    width: 350px;
    height: 120px;
    background-color: #fff;
    font-size: 16px;
    font-family: inherit;
    color: #4d5163;
    outline: none;
    resize: none;
}

.textarea:focus {
    border-color: #3754db;
}

.button {
    border-radius: 12px;
    height: 50px;
    background: #3754db;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: 202px;
}
